<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <%= link_to 'Edit', edit_post_path(@post) %>
</p>

<h1>Listing comments</h1>

<% if @post.comments.present? %>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= link_to comment.text, edit_post_comment_path(@post, comment) %></li>
  <% end %>
</ul>
<% else %>
<p>
  コメントがありません。
</p>
<% end %>

<p>
  <%= link_to 'New Comment', new_post_comment_path(@post) %>
</p>

<hr>

<p>
  <%= link_to 'Back', posts_path %>
</p>
